.menu{
    width: 100%;
    overflow: hidden;
    position: sticky;
    z-index: 100;
}

.menu #a2{
    background-color: rgb(230, 228, 228);
    color: #2999ad;
    text-decoration: none;
    float: left;
    height: 30px;
    width: 16.66666%;
    text-align: center;
    padding-top: 4px;
}

#carroCondicions {
    height: 30px;
    width: 30px;
    float: right;
    margin: 10px;
    position: relative;
    left: 350px;
    top: 20px;
    padding: 10px;
}
#userCondicions {
    height: 40px;
    width: 40px;
    float: right;
    margin: 10px;
    position: relative;
    bottom: 125px;
    right: 50px;
    padding: 10px;
}